language: node_js
sudo: false
arch:
  - amd64
  - arm64
node_js:
  - "15"
env:
  - CXX=g++-7
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
      - musl-dev
install:
  - sudo ln -s /usr/lib/x86_64-linux-musl/libc.so /lib/libc.musl-x86_64.so.1
  - sudo ln -s /usr/lib/aarch64-linux-musl/libc.so /lib/libc.musl-aarch64.so.1
  - npm ci
  - npm install coveralls
script:
  - npm run coverage
after_success:
  - npm run coveralls
  - docker-compose up build-linux-node-10
  - docker-compose up build-linux-node-11
  - docker-compose up build-linux-node-12
  - docker-compose up build-linux-node-13
  - docker-compose up build-linux-node-14
  - docker-compose up build-linux-node-15
cache:
  directories:
    - node_modules
